body { 
  background-color: #111111;
}
@import 'hitchens-theme';
body {
 background-image: none;
 background-color: #cccccc;
}


header {
  background-color:rgba(255,255,255,1);
  border-bottom:none;
  background-image: none;
}


