---
---
---
body { 
  background-color: #111111;
}
@import 'hitchens-theme';
body { 
  background-color: #000000;
}

body {
 background-image: none;
 background-color: #cccccc;
  background-image: none;
}


header {
  background-color: #111111;
  border-style: none;
  border-bottom: 10px dashed #b5e853;
}


jekyll-theme-hacker
