---
---
---
body { 
  background-color: #000000;
}
@import 'jekyll-theme-hacker';
body { 
  background-color: #000000;
}

body {
 background-image: none;
 background-color: #cccccc;
}


header {
  background-color: #111111;
  border-style: none;
}
