---
---
body { 
  background-color: #000000;
}
img {
  width: 600px;
  height: 1200px;
  object-fit: contain;
}
.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}
/*
@import 'jekyll-theme-hacker';
*/
